*.la
*.lo
*.o
*~
.deps/
.libs/
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/misc/*.pc
/misc/libdvdread.spec
/missing
/stamp-h1
Makefile
Makefile.in
